name: Qt CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15]

    steps:
    - uses: actions/checkout@v4
    - name: Install libusb
      if: runner.os == 'Linux'
      run: |
          sudo apt update
          sudo apt install libusb-1.0-0-dev
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        modules: qtwebchannel qtpositioning qtserialport qt5compat qtwebengine
    - name: Build on ${{ matrix.os }}
      shell: cmd
      if: runner.os == 'Windows'
      run: |
        mkdir build
        cd build
        qmake ../qserial.pro
        nmake || jom
    - name: Build on ${{ matrix.os }}
      shell: bash
      if: runner.os != 'Windows'
      run: |
        mkdir build
        cd build
        qmake ../qserial.pro
        make -j$(nproc)
        

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: qserial-${{ matrix.os }}
        path: |
          build/*.exe
          build/qserial
          build/*.app
        if-no-files-found: error

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
